.navbarContainer{
    padding: 12px;
    
}

.invoiceBackButton{
    padding: 2px;
}

.invoiceContainer{
    border: 2px solid rgb(180, 178, 178);
    padding: 8px;
    width: 23%;
    min-width: 400px;
    margin-bottom: 12px;
    font-size: 1.1rem;
    border-radius: 12px;
 }
.container{
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.boldText{
    font-weight: 600;
}
.buttonsMargin{
    margin-right: 4px;
}
.buttonsContainer{
    margin-top: 12px;
    padding: 4px;
}
